<div class="menu-dash">
    <div class="icon">
        <i class="icon-dash" data-feather="home"></i>
        <a href="/escola/<%=escola._id%>/edit" class="icon-link"><i class="icon-dash" data-feather="edit-2"></i></a>
        <i class="icon-dash" data-feather="calendar"></i>
        <a href="/logout" class="icon-link"><i class="icon-dash" id="logout-icon" data-feather="log-out"></i></a>
    </div>
    <div id="menu-dash-container">
        <div id="menu-dash-content-info">