<%- include ('../../partials/head')%>
    <div id="container-notice-form">
        <form action="/escola/<%=escola._id%>/noticias?_method_PUT" method="post">
            <div id="content-notice-form">
                <label>Título
                    <input type="text" name="titulo" id="titulo" placeholder="titulo">
                </label>
                <label>Descrição:
                    <textarea name="descricao"></textarea>
                </label>
                <label>Data de publicação:
                    <input type="date" name="data_post" id="data_post">
                </label>
            </div>
        </form>
    </div>
<%- include ('../../partials/footer')%>

