<%- include ('../../partials/head')%>
<%- include ('../../partials/menu')%>
    <div id="container-notice-form">
        <form action="/escola/<%=escola._id%>/noticia?_method_PUT" method="POST">
            <div id="content-notice-form">
                <h1>Publique sua notícia!</h1>
                <div id="item-notice-form">
                    <label>Título
                        <input type="text" name="titulo" id="titulo" placeholder="Título">
                    </label>
                    <label>Descrição:
                        <textarea name="descricao"></textarea>
                    </label>
                    <label>Data de publicação:
                        <input type="date" name="data_post" id="data_post">
                    </label>
                </div>
                
                <button>Publicar notícia</button>
            </div>
        </form>
    </div>
</div>
<%- include ('../../partials/footer')%>

