<%- include('partials/head') %>

    <div id="erro">
        <i data-feather="alert-triangle" id="alert"></i>
        <h2>Nenhuma escola para ver por aqui!</h2>
    </div>

<%- include ('partials/footer') %>