<%- include('partials/head') %>

    <div class="inicializacao">
        <h1>WikiEscolas</h1>
        <h4>Um mapa de geolocalização escolar.</h4>
        <a href="/show"><button>Vamos começar</button></a>
    </div>  

<%- include ('partials/footer') %>