<%- include('partials/head') %>

<div class="inicializacao">
  <h1>WikiEscolas</h1>
  <h4>Um mapa de geolocalização escolar.</h4>
  <a href="/show"><button>Vamos começar</button></a>
  <br />
  <div id="terms-buttons">
    <a href="/lgpd"><button>LGPD</button></a>
    <a href="/termos-e-condicoes"><button>Termos e Condições</button></a>
  </div>
</div>

<%- include ('partials/footer') %>
