<%- include('partials/head') %>

    <div class="inicializacao">
        <h1>WikiEscolas</h1>
        <h4>Um mapa de geolocalização escolar.</h4>
        <a href="/show"><button>Vamos começar</button></a>
        <br>
        <a href="/lgpd">LGPD</a>
        <a href="/termos-e-condicoes">Termos e Condições</a>
    </div>  
   

<%- include ('partials/footer') %>