<%- include ('partials/head')%>

<div class="container">
    <div class="container_horizontal">
        <head>
            <h3>Logo</h3>
            <a href="/login"><h5>Entrar</h5></a>
           
        </head>
        <div id="busca">
            <h3>Busque por uma escola: </h3>
            <input type="text" placeholder="Nome da escola" size="25"required autofocus>
        </div>
        <div class="rodape">
            <footer>
                <p>Deseja cadastrar sua escola?</p>
                <a href="escolas/new"><button>Clique aqui</button></a>
            </footer>
        </div>
    </div>  
    <div class="content">
        <head>
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
            <style> #map{position: absolute; top:0; bottom:0; left:0; right:0;} </style>
        </head>
        <body>
            <div id="map"></div>
                <script>
                    var map = L.map('map', {
                        center: [-16.166073148734803, -51.550334113559636],
                        zoom: 5
                    });
                    L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=L2MMuN0QVt7kuMWSYezJ',{
                        attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>'
                    }).addTo(map);
                </script>
        </body>
    </div>
</div>


<%- include ('partials/footer')%>