<%- include ('partials/head')%>

<div class="container">
    <div class="container_horizontal">
        <div class="header-search">
            <!-- <img src="images/logo.png" alt="image" srcset=""> -->
            <a href="/login"> <i data-feather="user"></i></a>
        </div>
        <div id="busca">
            <form action="/search" method="POST">
                <h2>Busque por uma escola: </h2>
                <div class="search-field">
                    <input type="text" placeholder="Nome da escola" size="25"required autofocus name="nome" id="nome">
                    <button type="submit"><i id="search-btn" data-feather="search"></i></button>
                </div>
            </form>
        </div>
        <div class="rodape">
            <footer>
                <p>Deseja cadastrar sua escola?</p>
                <a href="/new"><button>Clique aqui</button></a>
            </footer>
        </div>
    </div>
    <% if (resultados) {%>
        <div class="content"></div>
        <div id="search"></div>
    </div>
    <%}%>
    <div class="content"></div>
        <div id="map"></div>
    </div>

</div>

<%- include ('partials/footer')%>