<%- include ('partials/head')%>

<div class="container">
    <div class="container_horizontal">
        <head>
            <h3>Logo</h3>
            <a href="/login"><h5>Entrar</h5></a>
           
        </head>
        <div id="busca">
            <h3>Busque por uma escola: </h3>
            <input type="text" placeholder="Nome da escola" size="25"required autofocus>
        </div>
        <div class="rodape">
            <footer>
                <p>Deseja cadastrar sua escola?</p>
                <a href="escolas/new"><button>Clique aqui</button></a>
            </footer>
        </div>
    </div>  
    <div class="content"></div>
            <div id="map"></div>

    </div>
</div>


<%- include ('partials/footer')%>