<%- include ('partials/head')%>

<div class="container">
    <div class="container_horizontal">
        <div class="header-search">
            <a href="/login"> <i data-feather="user"></i></a>
            <div id="busca">
                <h2>Busque por uma escola: </h2>    
                <div id="formsearch" >
                    <input id="textsearch" type="text" value="" />
                </div>
            </div>
        </div>
        
        <div class="rodape">
            <footer>
                <p>Deseja cadastrar sua escola?</p>
                <a href="/new"><button>Clique aqui</button></a>
            </footer>
        </div>
    </div>
    <div class="content"></div>
        <div id="map"></div>
        <div id="findbox"></div>

    </div>
</div>

<%- include ('partials/footer')%>