<%- include('partials/head') %>
<div id="termos">
  <h1>Termos e Condições Gerais de Uso da Aplicação WikiEscolas</h1>
  <div id="welcome" class="content-termos">
    <p>
      Bem-vindos/as a aplicação WikiEscolas, desenvolvido pelo Instituto Federal
      de Educação Ciência e Tecnologia do Rio Grande do Sul, inscrito no CNPJ
      sob o nº 10.637.926/0001-46, que hospeda e mantém a aplicação.
    </p>
  </div>
  <div id="table">
    <ol>
      <div id="objeto" class="content-termos">
        <li><h3>Do objeto</h3></li>
        <p>
          A aplicação visa ser um mapa de geolocalização escolar para conectar
          escolas públicas brasileiras, por meio da inserção de informações
          pelas próprias escolas.
        </p>
        <p>
          A aplicação caracteriza-se pela prestação do seguinte serviço:
          geolocalização escolar colaborativa e pública.
        </p>
      </div>
      <div id="aceitacao" class="content-termos">
        <li><h3>Da aceitação</h3></li>
        <p>
          O presente Termo estabelece obrigações acordadas de livre e espontânea
          vontade, por tempo indeterminado, entre a aplicação e as escolas
          usuárias da aplicação.
        </p>
        <p>
          Ao utilizar a aplicação a escola usuária aceita integralmente os
          presentes termos e condições, comprometendo-se a observá-las, sob o
          risco de aplicação das penalidades cabíveis.
        </p>
        <p>
          A aceitação do presente instrumento é imprescindível para o cadastro
          na aplicação WikiEscolas. Caso não concorde com as disposições deste
          instrumento, a escola usuária não deve se cadastrar.
        </p>
      </div>
      <div id="usuarios" class="content-termos">
        <li><h3>Do acesso dos usuários</h3></li>
        <p>
          Serão utilizadas todas as soluções técnicas à disposição do
          responsável pela aplicação para permitir o acesso ao serviço 24 (vinte
          e quatro) horas por dia, 7 (sete) dias por semana. No entanto, a
          navegação na aplicação ou em alguma de suas páginas poderá ser
          interrompida, limitada ou suspensa para atualizações, modificações ou
          qualquer ação necessária ao seu bom funcionamento.
        </p>
        <p>
          Os dados e outras informações que você transmite para nosso servidor
          são protegidos contra perda, uso inadequado, acesso não autorizado,
          divulgação, alteração ou destruição. Entretanto, nenhuma transmissão
          via Internet é completamente segura ou livre de erro.
        </p>
      </div>
      <div id="cadastro" class="content-termos">
        <li><h3>Do cadastro</h3></li>
        <p>
          O acesso às funcionalidades da aplicação exigirá a realização de um
          único cadastro gratuito prévio da Escola, que pode ser alterado ou
          atualizado a qualquer momento.
        </p>
        <p>
          Ao se cadastrar a escola usuária deverá informar dados completos,
          recentes e válidos, sendo de sua exclusiva responsabilidade manter
          referidos dados atualizados, bem como, se compromete com a veracidade
          dos dados fornecidos.
        </p>
        <p>
          A escola usuária se compromete a não informar seus dados cadastrais
          e/ou de acesso à aplicação a terceiros, responsabilizando-se
          integralmente pelo uso que deles seja feito.
        </p>
        <p>
          Mediante a realização do cadastro a escola usuária declara e garante
          expressamente ser plenamente capaz, podendo exercer e usufruir
          livremente da aplicação.
        </p>
        <p>
          A escola usuária deverá fornecer um endereço de e-mail válido,
          preferencialmente institucional, através do qual a aplicação realizará
          todas as comunicações necessárias.
        </p>
        <p>
          Após a confirmação do cadastro, a escola usuária possuirá um login e
          uma senha, a qual assegura à escola o acesso a aplicação WikiEscolas.
          Desta forma, compete à escola usuária exclusivamente a manutenção da
          senha de maneira confidencial e segura, evitando o acesso indevido às
          informações.
        </p>
        <p>
          Toda e qualquer atividade realizada com o uso da senha será de
          responsabilidade da escola usuária, que deverá informar prontamente a
          aplicação em caso de uso indevido da respectiva senha.
        </p>
        <p>
          Caberá ao usuário assegurar que o seu equipamento seja compatível com
          as características técnicas que viabilizem a utilização da aplicação.
        </p>
        <p>
          A escola usuária poderá, a qualquer tempo, requerer o cancelamento de
          seu cadastro junto à aplicação. O seu descadastramento será realizado
          o mais rapidamente possível.
        </p>
        <p>
          A escola usuária, ao aceitar os Termos e Política de Privacidade,
          autoriza expressamente a aplicação a coletar, armazenar, tratar, ceder
          ou utilizar as informações por ela disponibilizadas.
        </p>
      </div>
      <div id="suporte" class="content-termos">
        <li><h3>Do suporte</h3></li>
        <p>
          Em caso de qualquer dúvida, sugestão ou problema com a utilização da
          aplicação, o usuário poderá entrar em contato com o suporte, através
          do email [...].
        </p>
        <p>
          Estes serviços de atendimento ao usuário estarão disponíveis nos
          seguintes dias e horários: [...]
        </p>
      </div>
      <div id="responsabilidades" class="content-termos">
        <li><h3>Das responsabilidades</h3></li>
        <h4>É de responsabilidade do usuário:</h4>
        <div id="responsabilidades-list">
          <ol style="list-style: upper-alpha">
            <li>
              defeitos ou vícios técnicos originados no próprio sistema do
              usuário;
            </li>
            <li>
              a correta utilização da aplicação, dos serviços ou produtos
              oferecidos, prezando pela boa convivência, pelo respeito e
              cordialidade entre os usuários;
            </li>
            <li>
              pelo cumprimento e respeito ao conjunto de regras disposto nesse
              Termo de Condições Geral de Uso, na respectiva Política de
              Privacidade e na legislação nacional e internacional;
            </li>
            <li>
              pela proteção aos dados de acesso à sua conta/perfil (login e
              senha).
            </li>
          </ol>
        </div>
        <h4>É de responsabilidade da aplicação WikiEscolas:</h4>
        <div id="wiki-list">
          <ol>
            <li>indicar as características do serviço;</li>
            <li>
              os defeitos e vícios encontrados no serviço oferecido desde que
              lhe tenha dado causa;
            </li>
            <li>
              as informações que foram por ele divulgadas, sendo que os
              comentários ou informações divulgadas por usuários são de inteira
              responsabilidade dos próprios usuários;
            </li>
            <p>
              A aplicação não se responsabiliza por links externos contidos em
              seu sistema que possam redirecionar o usuário ao ambiente externo
              a sua rede.
            </p>
            <p>
              Não poderão ser incluídos links externos ou páginas que sirvam
              para fins comerciais ou publicitários ou quaisquer informações
              ilícitas, violentas, polêmicas, pornográficas, xenofóbicas,
              discriminatórias ou ofensivas.
            </p>
          </ol>
        </div>
      </div>
      <div id="direitos" class="content-termos">
        <li><h3>Dos diretos autorais</h3></li>
        <p>
          O presente Termo de Uso concede aos usuários uma licença não
          exclusiva, não transferível e não sublicenciável, para acessar e fazer
          uso da aplicação e dos serviços e produtos por ela disponibilizados.
        </p>
        <p>
          Este Termos de Uso não cede ou transfere ao usuário qualquer direito,
          de modo que o acesso não gera qualquer direito de propriedade
          intelectual ao usuário, exceto pela licença limitada ora concedida.
        </p>
      </div>
      <div id="sancoes" class="content-termos">
        <li><h3>Das sanções</h3></li>
        <p>
          Sem prejuízo das demais medidas legais cabíveis, a razão social __
          poderá, a qualquer momento, advertir, suspender ou cancelar a conta do
          usuário:
        </p>
        <ol>
          <li>que violar qualquer dispositivo do presente Termo;</li>
          <li>que descumprir os seus deveres de usuário;</li>
          <li>
            que tiver qualquer comportamento fraudulento, doloso ou que ofenda a
            terceiros.
          </li>
        </ol>
      </div>
      <div id="alteracoes" class="content-termos">
        <li><h3>Das alterações</h3></li>
        <p>
          Os itens descritos no presente instrumento poderão sofrer alterações,
          a qualquer tempo, por parte da aplicação WikiEscolas, para adequar ou
          modificar os serviços, bem como para atender novas exigências legais.
          As alterações serão veiculadas pela aplicação WikiEscolas e a escola
          usuária poderá optar por aceitar o novo conteúdo ou por se
          descadastrar.
        </p>
        <p>
          Os serviços oferecidos podem, a qualquer tempo, e sem qualquer aviso
          prévio, ser deixados de fornecer, alterados em suas características,
          bem como restringido para o uso ou acesso.
        </p>
      </div>
      <div id="privacidade" class="content-termos">
        <li><h3>Da política de privacidade</h3></li>
        <p>
          Além do presente Termo, o usuário deverá consentir com as disposições
          contidas na respectiva Política de Privacidade a ser apresentada a
          todos os interessados dentro da interface da aplicação.
        </p>
      </div>
      <div id="foro" class="content-termos">
        <li><h3>Do foro</h3></li>
        <p>
          Para a solução de controvérsias decorrentes do presente instrumento
          será aplicado integralmente o Direito brasileiro.
        </p>
        <p>
          Os eventuais litígios deverão ser apresentados no foro da comarca em
          que se encontra a sede da aplicação WikiEscolas.
        </p>
        <p>Referência consultada: JusBrasil</p>
      </div>
    </ol>
  </div>
  <a href="/" class="btn-back"><i data-feather="corner-down-left"></i></a>
</div>
<%- include ('partials/footer') %>
