:root{
    --background_padrao: #EDEDED;
    --cor_auxiliar: #066165;
    --fonte_titulos:'Open Sans Condensed', sans-serif;
    
}

body{
    background-color: var(--background_padrao);
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}

h1, h2, h3{
    font-family: var(--fonte_titulos);
}
*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

.inicializacao{
    float: right;
    margin-top: 30vh;
    margin-right: 40px;
    font-family: var(--fonte_titulos);
    width: 480px;
}

.inicializacao h1{
    color: var(--cor_auxiliar);
    font-size: 70px;
    text-align: center;
    margin-bottom: 5px;
}

.inicializacao h4{
    text-align: center;
    font-size: 20px;
    padding-top: 0;
    margin-bottom: 20px;
    font-weight: lighter;
  
    
}

.inicializacao button{
    background-color: #066165;
    margin-top: 40px;
    color: white;
    width: 160px;
    height: 50px;
    border-radius: 8px;
    font-family: var(--fonte_titulos);
    font-size: 18px;
    margin-left: 10vw;
}

.container{
    display: flex;
}
.container_horizontal{
    background-color: #066165;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 22vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_horizontal a{
    text-decoration: none;
    color: white;
}

.header-search{
    padding: 4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#busca{
    margin-top: 40vh;
    width: 15vw;
}

#busca input{
    margin-top: 1vw;
    width: 13vw;
    height: 35px;
    padding: 2%;
    background-color: #053f42 ;
    color: white;
    border: none;
    box-shadow:0 0 5px rgba(0,0,0,0.5) ;
    font-family: var(--fonte_titulos);
    font-weight: lighter;
}
#busca input ::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.397);
    
}

.rodape{
    margin-top: 30vh;
}
.rodape button{
    font-family: var(--fonte_titulos);
    background-color: #053f42 ;
    color: white;
    border: none;
    box-shadow:0 0 5px rgba(0,0,0,0.5) ;
    padding: 5px;
    margin-left: 25%;
    margin-top: 5%;
   
}

#login {
    background-color: var(--cor_auxiliar);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;

}

#container_login{
    margin-left: 38%;
    width: 350px;
    height: 350px;
    background-color: var(--background_padrao);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container_login h2{
    margin: 30px 0px 50px 0px;
    color:var(--cor_auxiliar);
    
}

#container_login input {
    padding: 5px;
    font-family: var(--fonte_titulos);
    

}

#container_login input ::-webkit-input-placeholder{
    background-color: var(--background_padrao);
}


#container_login button{
    font-family: var(--fonte_titulos);
    background-color: var(--cor_auxiliar);
    color:white;
    padding: 10px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.5) ;
    margin-top: 40px;
}

#container_login p{
    margin-top: 15px;
    font-size: 12px;
    margin-right: 0px;
}

#container_login p:hover {
    color: var(--cor_auxiliar);

}

#container_login p:hover d {
    color: var(--cor_auxiliar);
    text-decoration: underline;
}

#container_escola{
    background-color: var(--cor_auxiliar);
    height: 30vh;

}

.content_escola{
    background-color: var(--background_padrao);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 90vh;
    margin-top: -20vh;
    padding: 5%;
    text-align: justify;
    
}

.content_escola h2, h1 {
    color: var(--cor_auxiliar);
   
}

#head_escola{
    margin-bottom: 20px;
}

#head_escola p{
    font-size: 1rem;
    color: gray;
}
.info_geral li{
    text-decoration: none;
    list-style: none;
    margin-top: 20px;
}

.info_evento{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
}

#map{
    width: 77.9%;
    margin-left: 22%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.menu-dash{
    background-color: var(--cor_auxiliar);
    height: 100vh;
    display: flex;
}

.icon{
    color: var(--background_padrao);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
}

.icon-dash{
    margin-top: 30px;
}

#logout-icon{
    margin-top: 25vw;
}

#menu-dash-container{
    background-color: white;

    width: 185vh;
    height: 95vh;
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 30px;
}
#menu-dash-content-info{
    
    height: 100%;
    padding:0%;
    display: flex;
    padding: 10px;
  
}

#menu-dash-info{
    width: 70%;
}
#menu-dash-content-info h1{
    padding: 2%;
    margin-left: 6%;
    margin-top: 8%;
    width: 90%;
    padding-bottom: 32%;
}

#menu-dash-info li{
    margin-left: 12%;
    justify-content: center;
    padding: 10px;
    color: var(--cor_auxiliar);
}

li span {
    color: black;
}
#menu-dash-content-event{
    background-color: var(--background_padrao);
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
#menu-dash-content-event h2{
    margin-top: 20px;
    margin-left: 10px;
}

.event{
    background-color: #0aa6ad;
    padding: 20px;
    width: 20%;
    margin-left: 2%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 3px;
    margin-top: 8%;
}

#btn-event{
    background-color: var(--cor_auxiliar);
    color: white;
    border: none;
    padding: 8px;
    margin-left: 40%;
    margin-top: 50%;
    border-radius: 3px;
}

#container-form{
    height: 100vh;
    background-color: var(--cor_auxiliar);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-form{
    background-color: var(--background_padrao);
    width: 80%; 
    padding: 30px;
    border-radius: 5px;
}

.title-form{
    font-size: 1.5rem;
    margin-bottom: 3%;
}


form .escola-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.escola-details .input-form{
    margin-bottom: 8px;
    width: calc(100%/3 - 20px);

}

.escola-details .input-form .details{
    display: block;
    margin-bottom: 5px;
}


.input-form input{
    height: 30px;
    width: 70%;
    outline: none;
    border-radius: 5px;
    border: 1.5px solid #ccc;
    padding-left: 10px;
    font-size: 13px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.escola-details .input-form input:focus{
    border-color: #0aa6ad
}

.btn-submit-new{
    width: 80%;
    padding: 10px;
    background: linear-gradient(150deg, var(--cor_auxiliar), #0aa6ad);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10%;
}

button:hover {
    transition: all 1s;
    background: linear-gradient(-150deg, var(--cor_auxiliar), #0aa6ad);
  } 

#btn-help{
    background-color: var(--cor_auxiliar);
    border-radius: 80px;
    color: var(--background_padrao);
    width: 50px;
    height: 50px;
    margin-left: 90%;
    position: absolute;
    border: 2px solid #5e7b7c;
}

#btn-help p{
    text-align: center;
    font-size: 1.8rem;
    padding-top: 5%;
}