:root {
  --background_padrao: #ededed;
  --cor_auxiliar: #066165;
  --fonte_titulos: "Open Sans Condensed", sans-serif;
}

body {
  background-color: var(--background_padrao);
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

h1,
h2,
h3 {
  font-family: var(--fonte_titulos);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.inicializacao {
  float: right;
  margin-top: 30vh;
  margin-right: 40px;
  font-family: var(--fonte_titulos);
  width: 480px;
}

.inicializacao h1 {
  color: var(--cor_auxiliar);
  font-size: 70px;
  text-align: center;
  margin-bottom: 5px;
}

.inicializacao h4 {
  text-align: center;
  font-size: 20px;
  padding-top: 0;
  margin-bottom: 20px;
  font-weight: lighter;
}

.inicializacao button {
  background-color: #066165;
  margin-top: 40px;
  color: white;
  width: 160px;
  height: 50px;
  border-radius: 8px;
  font-family: var(--fonte_titulos);
  font-size: 18px;
  margin-left: 34%;
  border: none;
  -webkit-box-shadow: 10px 11px 13px -8px rgba(77,76,77,1);
  -moz-box-shadow: 10px 11px 13px -8px rgba(77,76,77,1);
  box-shadow: 10px 11px 13px -8px rgba(77,76,77,1);
}

.container {
  display: flex;
}

.container_horizontal {
  background-color: #066165;
  box-shadow: 4 4 20px rgba(0, 0, 0, 1);
  width: 21.999vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_horizontal a {
  text-decoration: none;
  color: white;
}

.header-search {
  padding: 4%;
  display: flex;
  flex-direction: row-reverse;
}

#busca {
  margin-top: 35vh;
  width: 15vw;
}

#busca h2 {
  font-size: 1.5em;
}

#busca input {
  margin-top: 1vw;
  width: 15vw;
  height: 35px;
  padding: 2%;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #053f42;
  color: white;
  border: none;
  border-radius: 4px;
}

#busca input ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.397);
}

.rodape {
  margin-top: 30vh;
}

.rodape button {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  background-color: #053f42;
  color: white;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30%;
}

#login {
  background-color: var(--cor_auxiliar);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container-login {
  background-color: var(--background_padrao);
  width: 25%;
  padding: 4%;
  border-radius: 4px;
}

#container-login h1 {
  color: var(--cor_auxiliar);
  text-align: center;
  padding-bottom: 4%;
}

form .input-login {
  position: relative;
  border-bottom: 2px solid #066165;
  margin: 30px 0;
}

.required {
  color: var(--cor_auxiliar);
}

.input-login label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  transition: 0.5s;
}

.input-login input:focus ~ label,
.input-login input:valid ~ label {
  top: -5px;
  color: var(--cor_auxiliar);
}

.btn-login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 5%;
}

.btn-login button {
  background-color: #066165;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: "Poppins", sans-serif;
  width: 80%;
  height: 30px;
}

.input-login input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 12px;
  border: none;
  background: none;
  outline: none;
}

.forgot-password {
  font-size: 0.8rem;
  color: #053f42;
  text-align: center;
}

.forgot-password:hover {
  text-decoration: underline;
  cursor: pointer;
}

.signup {
  font-size: 0.7rem;
  text-align: center;
  color: #066165;
  margin-top: 10%;
  cursor: pointer;
}

.signup a {
  text-decoration: none;
  color: #066165;
}

.signup a:hover {
  text-decoration: underline;
}

.container-escola {
  height: 100%;
  background-color: var(--cor_auxiliar);
  display: flex;
}

.content-escola {
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: var(--background_padrao);
  margin-top: 18vh;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.info-escola {
  text-align: justify;
  width: 95%;
}

#head-escola h1 {
  color: var(--cor_auxiliar);
  font-size: 2rem;
}

.container-info {
  display: flex;
  padding: 2% 0% 1% 0%;
}

.btn-denuncia{
  border: none;
  padding: 1%;
  float: right;
  margin-right: 4.5vw;
  background-color: #066165;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
}

.btn-denuncia:hover{
  text-decoration: underline;
  cursor: pointer;
}

.content-denuncia form {
  padding: 5%;
  margin-top: 30%;
}

.content-denuncia form button{
  background-color: var(--cor_auxiliar);
  color: white;
  padding: 2.5%;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 40%;
  margin-top: 50%;
}

.content-escola h2,
h3 {
  color: var(--cor_auxiliar);
  font-size: 1.6rem;
}

.info-geral {
  width: 55%;
}

.info-geral a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.info-geral a:hover {
  text-decoration: underline;
  color: #053f42;
}

.info-geral li {
  list-style: none;
  line-height: 40px;
  align-items: center;
  justify-content: center;
}

.info-geral ul {
  padding-top: 2%;
}

.icon-info {
  color: var(--cor_auxiliar);
  margin-right: 2%;
}

.data-projetos h3 {
  font-size: 1.3rem;
  margin-right: 20px;
}

.publish-info h4 {
  font-size: 1rem;
  color: var(--cor_auxiliar);
}

.publish-info {
  display: flex;
  margin-top: 4%;
  height: 40vh;
}

.data-evento{
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-right: 5%;
  margin-right: 5%;
}

.data-evento h3 {
  font-size: 1.5rem;
}

.data-evento::-webkit-scrollbar {
  background: var(--background_padrao);
  width: 5px;
}

.data-evento::-webkit-scrollbar-thumb {
  background-color: #053f42;
  border-radius: 4px;
}

#info-evento{
  background-color: white;
  float: right;
}
.data-projetos{
  width: 100%;
}

.data-projetos::-webkit-scrollbar {
  background: var(--background_padrao);
  width: 5px;
}

.data-projetos::-webkit-scrollbar-thumb {
  background-color: #053f42;
  border-radius: 4px;
}

.content {
  display: flex;
}

#map {
  width: 77.9%;
  margin-left: 22%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-dash {
  background-color: var(--cor_auxiliar);
  height: 100vh;
  display: flex;
}

.icon {
  color: var(--background_padrao);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
}

.icon-dash {
  margin-top: 30px;
}

.icon-link {
  color: white;
}

#logout-icon {
  margin-top: 25vw;
}

#menu-dash-container {
  background-color: white;
  width: 185vh;
  height: 95vh;
  margin-top: 1%;
  margin-left: 2%;
  border-radius: 30px;
}

#menu-dash-content-info {
  height: 100%;
  padding: 0%;
  display: flex;
  padding: 10px;
}

#menu-dash-info {
  width: 70%;
}

#menu-dash-content-info h1 {
  padding: 2%;
  margin-left: 6%;
  margin-top: 8%;
  width: 90%;
}

#menu-dash-info li {
  margin-left: 12%;
  justify-content: center;
  padding: 10px;
  color: var(--cor_auxiliar);
}

li span {
  color: black;
}

#menu-dash-content-event {
  background-color: var(--background_padrao);
  width: 100%;
  border-radius: 30px;
  overflow: hidden;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.event {
  background-color: #0aa6ad;
  padding: 20px;
  width: 20%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 3px;
  margin-top: 8%;
}

#container-form {
  height: 100%;
  background-color: var(--cor_auxiliar);
  display: flex;
  justify-content: center;
  align-items: center;

}

#edit-form-school {
  width: 100%;
  background: white;
}

#btn-submit-edit {
  margin-top: 4%;
  width: 20%;
  margin-left: 32vw;
}

.content-form {
  background-color: var(--background_padrao);
  width: 80%;
  padding: 30px;
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 15.5vh;
}

.title-form {
  font-size: 1.5rem;
  margin-bottom: 3%;
}

form .escola-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.escola-details .input-form {
  margin-bottom: 10px;
  width: calc(100% / 3 - 20px);
}

#horario_funcMin,
#horario_funcMax {
  width: 30%;
}

.modalidade {
  width: 70%;
  height: 30px;
  outline: none;
  border-radius: 5px;
  border: 1.5px solid #ccc;
}

.modalidade option {
  font-family: "Poppins", sans-serif;
}

.input-type {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-type label {
  padding: 20px;
}

.escola-details .input-form .details {
  display: block;
  margin-bottom: 5px;
}

.escola-details .senha .details {
  display: block;
  margin-bottom: 5px;
}

.escola-details .senha {
  padding-right: 33.5vw;
}
#edit-form-school .escola-details .senha {
  padding-right: 37.5vw;
}

#edit-form-school .escola-details .senha input {
  height: 30px;
  width: 19.5vw;
  outline: none;
  border-radius: 5px;
  border: 1.5px solid #ccc;
  padding-left: 10px;
  font-size: 13px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.escola-details .senha input {
  height: 30px;
  width: 17.25vw;
  outline: none;
  border-radius: 5px;
  border: 1.5px solid #ccc;
  padding-left: 10px;
  font-size: 13px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.input-form input {
  height: 30px;
  width: 70%;
  outline: none;
  border-radius: 5px;
  border: 1.5px solid #ccc;
  padding-left: 10px;
  font-size: 13px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.escola-details .senha input:focus {
  border-color: #0aa6ad;
}

.escola-details .input-form input:focus {
  border-color: #0aa6ad;
}

.btn-submit-new {
  width: 80%;
  padding: 10px;
  background: linear-gradient(150deg, var(--cor_auxiliar), #0aa6ad);
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10%;
}

/* .btn-help{
    border-radius: 80px;
    width: 50px;
    height: 50px;
    margin-left: 90%;
    margin-top: 35%;
    position: absolute;
    border: 2px solid #0aa6ad;
} */

.btn-help {
  color: var(--cor_auxiliar);
  margin-left: 0.5rem;
  font-size: 0.75rem;
  border: none;
  cursor: help;
}

.content-noticias {
  width: 70vw;
  padding-top: 10px;
}

.noticias {
  margin-top: 5rem;
}

.noticias h2 {
  font-size: 1.7rem;
}

.noticia {
  padding-bottom: 15px;
}
.noticia h2 {
  font-size: 1.233333rem;
}

.noticia p {
  padding-top: 4px;
}

.noticia button {
  border: none;
  color: #066165;
  cursor: pointer;
  font-weight: bolder;
}

.noticia button:hover {
  text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  width: 40%;
  height: 92vh;
  margin-left: 30vw;
  margin-top: 4vh;
  border-radius: 5px;
  background-color: var(--background_padrao);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border: 1px solid #888;
  overflow: auto;
  padding: 30px;
}

.modal-content h1 {
  width: 80%;
  color: var(--cor_auxiliar);
}
.modal-content h2 {
  font-size: 1rem;
}

.modal-content p {
  width: 65%;
  padding-top: 5%;
}

.modal-content::-webkit-scrollbar {
  background: var(--background_padrao);
  width: 5px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #053f42;
  border-radius: 4px;
}

.close {
  float: right;
  color: var(--cor_auxiliar);
  font-size: 1.33rem;
  cursor: pointer;
}

#content-publish-school {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 7vw;
  width: 100%;
}

#content-publish-school h1 {
  margin-left: 30vw;
  height: 5px;
  margin-top: 5%;
  padding-bottom: 8%;
}

#content-publish-school button {
  background-color: var(--cor_auxiliar);
  color: white;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin-left: 63%;
  width: 20%;
  font-family: "Poppins", sans-serif;
  border-radius: 3px;
  margin-top: 8%;
}

#content-publish-school input,
textarea {
  outline: none;
  border-radius: 5px;
  border: 1.5px solid #ccc;

  font-size: 13px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  padding: 8px;
}

#publish-project {
  margin-left: 48%;
  width: 50%;
}

#new-event-form {
  padding-left: 47%;
}

#new-event-form button {
  background-color: red;
  margin: 0%;
}
.field-event-form {
  margin-left: 30px;
}

.field-event-form input {
  width: 85%;
}

#item-notice-form {
  margin-left: 38%;
  width: 70%;
}

#content-publish-school input:focus,
textarea:focus {
  border-color: #0aa6ad;
}

#content-publish-school label {
  display: flex;
  flex-direction: column;
}

#menu-dash-content-event h1 {
  color: var(--cor_auxiliar);
  padding: 0;
}

#noticias {
  display: none;
  font-size: 0.8rem;
  margin-top: 5%;
}

#eventos {
  display: none;
}

#projetos {
  display: none;
}

.select_publish {
  border-color: var(--background_padrao);
  background-color: var(--background_padrao);
  border-bottom: var(--cor_auxiliar);
  width: 30%;
  margin-left: 35%;
  margin-top: 3%;
  padding: 5px;
}

.item-publish {
  padding-left: 5%;
}

#btn-add-school-data {
  background-color: var(--cor_auxiliar);
  color: white;
  border: none;
  padding: 8px;
  border-radius: 3px;

  position: absolute;
  bottom: 35px;
}

#btn-delete {
  color: white;
  border: none;
  background-color: var(--cor_auxiliar);
}

#header-notice-profile {
  display: flex;
}

.icons {
  display: flex;
  position: absolute;
  right: 80px;
}

.icon-notice-settings {
  color: var(--cor_auxiliar);
}

#fields-projects {
  display: inline;
}

.data-evento {
  overflow-y: scroll;
}

.data-projetos {
  overflow-y: scroll;
}

.error-message {
  color: black;
  background-color: rgba(255, 0, 0, 0.438);
  padding: 3px;
  width: 90%;
  margin-left: 5%;
  font-size: 0.8rem;
  margin-bottom: 10%;
  text-align: center;
  border-radius: 2px;
}

#lgpd {
  padding: 5% 10% 5% 3%;
  text-align: justify;
}

.content-lgpd {
  margin-bottom: 20px;
}

#quem-somos {
  margin-top: 20px;
}

.content-lgpd h2 {
  color: var(--cor_auxiliar);
}

.content-lgpd h3 {
  font-size: 1.144rem;
}

.container-type-personal-data {
  margin-top: 1%;
  margin-left: 4%;
}

.btn-back {
  background-color: var(--cor_auxiliar);
  color: white;
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  margin-left: 90%;
}

.btn-back:hover {
  background-color: #0aa6ad;
}

#termos {
  margin-left: 4vw;
  width: 90vw;
  margin-top: 10vh;
  margin-bottom: 11vh;
}

#termos h1 {
  margin-bottom: 2vh;
}

#termos h3 {
  margin-bottom: 1vh;
  margin-top: 2vh;
  font-size: 1.5rem;
}

#termos h4 {
  color: var(--cor_auxiliar);
  margin-top: 2.5vh;
  margin-bottom: 1vh;
}
#responsabilidades-list {
  margin-left: 5vh;
}

#wiki-list {
  margin-left: 5vh;
}
.inicializacao #terms-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.inicializacao #terms-buttons button {
  background-color: #066165;
  color: white;
  width: 80%;
  height: 5vh;
  border-radius: 12px;
  font-family: var(--fonte_titulos);
  font-size: 0.8rem;
  margin-right: 1vw;
  margin-left: 1vw;
}

.redes-sociais{
  color: var(--cor_auxiliar);
  width: 40px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  float: right;
  padding: 2px;
}

#adm{
  background-color: #053f42;
  height:100vh;
  padding: 4vh;
}

#adm #container {
  background-color: var(--background_padrao);
  padding: 3%;
}

.content table td {
  padding: 3px;
}

.content table form button{
  color: var(--cor_auxiliar);
  border: none;
  background-color: white;
}

.search-field{
  display: flex;
}

#busca button {
  border: none;
  background-color:#053f42;
  margin-left: -15%;
  margin-top: 8%;
  color:white;
  width: 0%;
}


#denuncia-message{
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20%;
  margin-left: 45%;
  margin-bottom: 20%;
}

#adm-table{
  padding: 3%;
  background-color: white;
  width: 98.8%;
  text-align: center;
  height:50%;
  margin-top: 2%;
}

#adm-table tr {
  margin-top: 2%;
}

#adm-table td form button{
  cursor: pointer;
  border: none;
}

@media (max-width: 600px) {
  #container-login {
    width: 70%;
    height: 70%;
    font-size: 1.2rem;
  }

  .btn-login button{
    font-size: 1.2rem;
    padding: 3%;
    margin-top: 15%;
  }

  .signup{
    margin-top: 30%;
    font-size: 1rem;
  }

  .container-info{
    width: 100vw;
  }
  .btn-denuncia{
    float: none;
    margin-top: 2%;
    margin-bottom: 5%;
    background: var(--background_padrao);
    border: none;
    box-shadow: none;
    color: var(--cor_auxiliar);
  }

  .modal-content{
    width: 70%;
    height: 60%;
    margin-left: 18%;
  }

  .container_horizontal {
    width: 100%;
    height: 15vh;
  }

  #busca{
    margin: 0;
    margin-left: 4%;
    width: 100%;
    font-size: 0.6rem;
  }

  #busca input {
    height: 20px;
    width: 50%;

  }

  .header-search{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
  }
  
  #map{
    width: 100%;
    margin-left: 0%;
    margin-top: 20%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .rodape {
    margin: 0;

  }
  .rodape footer{
    display: flex;
    font-size: 0.7rem;
    align-items: center;
  }

  .rodape footer a button{
    width: 100%;
    background-color: var(--cor_auxiliar);
    margin: 2%;
    border:none;
    box-shadow: none;
    text-decoration: underline;
    align-items: center;
  }

  .social-media svg{
    margin-bottom: 3%;
  }

  .publish-info {
    flex-direction: column;
    height: 50vh;
  }

  .data-projetos {
    margin-top: 10%;
  }

  .incializacao {
    align-items: center;
    float: right;
    margin-top: 30vh;
    margin-right: 40px;
    font-family: var(--fonte_titulos);
    width: 480px;
    display: flex;
    flex-direction: column;
  }

  .inicializacao button {
    background-color: #066165;
    margin-top: 40px;
    color: white;
    width: 160px;
    height: 50px;
    border-radius: 8px;
    font-family: var(--fonte_titulos);
    font-size: 18px;
    margin-left: 50%;
    border: none;
    -webkit-box-shadow: 10px 11px 13px -8px rgb(77 76 77);
    -moz-box-shadow: 10px 11px 13px -8px rgba(77,76,77,1);
    box-shadow: 10px 11px 13px -8px rgb(77 76 77);
   }
   
  .inicializacao h1 {
    color: var(--cor_auxiliar);
    font-size: 60px;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 35%;
  }

  .inicializacao h4 {
    text-align: center;
    font-size: 20px;
    padding-top: 0;
    margin-bottom: 20px;
    margin-left: 35%;
    font-weight: lighter;
  }
}