<%- include ('../../partials/head')%>
<%- include ('../../partials/menu')%>
<div id="container-publish-school">
  <form action="" method="">
    <div id="content-publish-school">
      <h1>Cadastre seu evento!</h1>
        <div id="content-publish-school">
            <div id="new-event-form">
                <div class="field-event-form">
                    <label for="nome_evento">Nome do evento
                        <input type="text" name="nome_evento" id="nome_evento" placeholder="Nome do seu evento">
                    </label>
                </div>
                <div class="field-event-form">
                    <label for="descricao">Descrição:
                        <input type="text" name="descricao" id="descricao" placeholder="Descrição do seu evento">
                    </label>
                </div>
                <div class="field-event-form">
                    <label for="endereco">Endereço:
                      <input type="text" name="endereco" id="endereco" placeholder="Seu endereço">
                    </label>
                </div>
                <div class="field-event-form">
                    <label for="data_inicio">Data de início do evento:
                        <input type="date" name="data_inicio" id="data_inicio">
                    </label>
                </div>
                <div class="field-event-form">
                    <label for="data_fim">Data do fim do evento:
                        <input type="date" name="data_fim" id="data_fim">
                    </label>
                </div>
                <div class="field-event-form">
                    <label for="hora_inicio">Horário inicial:
                        <input type="time" name="hora_inicio" id="hora_inicio">
                    </label>
                </div>
                <div class="field-event-form">
                    <label for="hora_fim">Horário final:
                        <input type="time" name="hora_fim" id="hora_fim">
                    </label>
                </div>
                <button id="btn-event">Publicar evento</button>
            </div>
        </div>
  </form>
</div>

</div>
<%- include ('../../partials/footer')%>
