<%- include ('../partials/head')%>
    <div class="menu-dash">
        <div class="icon">
            <i class="icon-dash" data-feather="home"></i>
            <i class="icon-dash" data-feather="edit-2"></i>
            <i class="icon-dash" data-feather="calendar"></i>
        </div>
        <div id="menu-dash-container">
            <div id="menu-dash-content-info">
                <div id="menu-dash-info">
                <h1>Olá, Escola</h1>
                <ul>
                    <li><span>Rua Tal</span</li>
                    <li><span>(051) 1111 - 1111</span></li>
                    <li><span>email@email.com</span></li>

                </ul>
            </div>
                <div id="menu-dash-content-event">
                    <h2>Próximos eventos</h2>
                    <div class="event">
                        <h3>23 fev</h3>
                        <h4>Matriculas</h4>
                    </div>
                    <button id="btn-event">Cadastrar novo evento</button>
                </div>
            </div>
            
        </div>
    </div>

    <%- include ('../partials/footer')%>