<%- include ('../partials/head')%>

<div class="container">
    <div class="container_horizontal">
        <head>
            <img class="logo" src="../../public/images/logo.png"> 
            <h5>Entrar</h5>
        </head>
        <div id="busca">
            <h3>Busque por uma escola: </h3>
            <input type="text" placeholder="nome da escola" size="25"required autofocus>
        </div>
        <div class="rodape">
            <footer>
                <p>Deseja cadastrar sua escola?</p>
                <button>Clique aqui</button>
            </footer>
        </div>
    </div>  
</div>
<div class="content">
    mapa aqui
</div>

<%- include ('../partials/footer')%>