<%- include ('../partials/head')%>
    <div id="login">
        <div id="container_login">
            <h2>Login</h2>
            <form action='/login' method="POST">
                <label>
                    <input type="text" required placeholder="nome de usuario ou e-mail" size="25">
                </label>
                <br>
                <label>
                    <input type="password" placeholder="senha" required size="25">
                </label>
                <p>Recuperar conta</p>
                <br>
                <button>Acessar</button>
            </form>
        </div>
    </div>


    <%- include ('../partials/footer')%>