<%- include ('../partials/head')%>
<div id="login">
  <div id="container-login">
    <h1>Login</h1>
    <form action="/login" method="POST">
      <div class="input-login">
        <input type="text" name="username" id="username" required size="25" />
        <label>Username</label>
      </div>
      <div class="input-login">
        <input
          type="password"
          name="password"
          id="password"
          required
          size="25"
        />
        <label>Senha</label>
      </div>

      <% for (let i = 0; i < errors.length; i++){ %>
      <div className="error-message">
        <h5><%=errors[i] %></h5>
      </div>
      <%}%>
      <div class="forgot-password">
        <p>Esqueceu sua senha?</p>
      </div>
      <div class="btn-login">
        <button type="submit">Acessar</button>
      </div>

      <div class="signup">
        Não possui login? <a href="escola/new">Cadastre-se!</a>
      </div>
    </form>
  </div>
</div>

<%- include ('../partials/footer')%>
