<%- include ('../partials/head')%>

    <div id="container-form">
        <div class="content-form">
            <div class="title-form">Cadastre-se!</div>
                <form action="/escola" method="POST">
                    <div class="escola-details">
                        <div class="input-form">
                            <label for="nome"><span class="details">Nome da Escola:</span>
                                <input type="text" name="nome" id="nome" placeholder="Informe o nome da escola">
                            </label>
                        </div>
                        <div class="input-form">
                            <label for="endereco"><span class="details">Endereço:</span>
                                <input type="text" name="endereco" id="endereco" placeholder="Informe o endereço">
                            </label>
                        </div>
                        <div class="input-form">
                            <label for="id_inep"><span class="details">INEP:</span>
                                <input type="number" name="id_inep" id="id_inep" placeholder="Informe o INEP">
                            </label>
                        </div>
                        <div class="input-form">
                            <label for="latitude"><span class="details">Latitude:</span>
                                <input type="text" name="latitude" id="latitude" placeholder="Informe a latitude">
                            </label>
                        </div>
                        <div class="input-form">
                            <label for="longitude"><span class="details">Longitude:</span>
                                <input type="text" name="longitude" id="longitude" placeholder="Informe a longitude">
                            </label>
                        </div>
                        
                        <div class="input-form">
                            <label for="responsavel"> <span class="details">Responsável do cadastro:</span>
                                <input type="text" name="responsavel" id="responsavel" placeholder="Informe o responsável">
                            </label>
                        </div>
                        <div class="input-form">
                            <label for="contato"><span class="details">Email:</span>
                                <input type="email" name="email" id="email" placeholder="wiki@escolas.com">
                            </label>
                        </div>
                        <div class="input-form">
                            <label for="tel1"><span class="details">Telefone:</span>
                                <input type="tel" name="tel1" id="tel1" placeholder="(DDD) 1234 - 4567">
                            </label>
                        </div>
                        <div class="input-form">
                            <label for="tel2"><span class="details">Telefone:</span>
                                <input type="tel" name="tel2" id="tel2" placeholder="(DDD) 1234 - 4567">
                            </label>
                        </div>
                        <div class="input-form">
                            <label for="modalidade"><span class="details">Modalidade:</span>
                                <select name="modalidade" class="modalidade">
                                    <option disabled selected></option>
                                    <option>Regular</option>
                                    <option>EJA</option>
                                    <option>PROEJA</option>
                                    <option>Profissional e tecnológica</option>
                                    <option>Indigena</option>
                                    <option>Quilombola</option>
                                    <option>Educação do Campo</option>
                                </select>
                            </label>
                        </div>
                  
                        <div class="input-form">
                            <label for="horario_func"><span class="details ">Horário de funcionamento:</span>
                                <input type="time" name="horario_funcMin" id="horario_funcMin"> até <input type="time"
                                    name="horario_funcMax" id="horario_funcMax">
                            </label>
                        </div>
                        <div class="input-form">
                            <label for="foto"><span class="details">Foto:</span>
                                <input type="file" name="foto" id="foto">
                            </label>
                        </div>
                        <div class="input-form">
                            <label for="ano_fund"><span class="details">Ano de fundação:</span>
                                <input type="date" name="ano_fund" id="ano_fund">
                            </label>
                        </div>
                        <div class="input-form">
                            <label for="username"><span class="details">Username:</span>
                                <input type="text" name="username" id="username" placeholder="Informe seu username">
                            </label>
                        </div>
                        <div class="input-form">
                            <label for="password"><span class="details">Senha:</span>
                                <input type="password" name="password" id="password" placeholder="Informe sua senha">
                            </label>
                        </div>
                    </div>
                    <div class="input-type">
                        <input type="radio" class="tipo_inst-radio"name="tipo_inst" value="Federal"><label for="federal">Federal</label></input>
                        <input type="radio" class="tipo_inst-radio" name="tipo_inst" value="Estadual"><label for="estadual"> Estadual</label></input>
                        <input type="radio" class="tipo_inst-radio" name="tipo_inst" value="Municipal"><label for="municipal"> Municipal</label></input>
                    </div>
                    <button class="btn-submit-new" type="submit">Cadastrar</button>
                </div>
            </form>
            <div id="btn-help">
                <p>?</p>
            </div>
        </div>


        <%- include ('../partials/footer')%>