<%- include ('../partials/head')%>

<div id="escola_especifica">
    <h2><%=id%></h2>
    <h3>Informações gerais</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis commodi magnam esse quo itaque nobis, quod totam culpa nisi veritatis temporibus natus obcaecati, ullam in quos enim optio saepe recusandae?</p>
    <h3>Noticias</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem iure totam hic vel modi, exercitationem ipsam quibusdam sed consequatur a. Id enim laborum animi tempore in facilis vel sunt molestiae.</p>
    <h3>Eventos e projetos</h3>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolorem dolore iure mollitia dignissimos? Deserunt dolore enim, recusandae aliquam nesciunt ullam laborum facilis quibusdam maxime quas nihil reiciendis saepe error!</h3>
</div>
    

<%- include ('../partials/footer')%>